* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    background-color: #FFD452;
}

.title {
    font-family: 'Kavoon', serif;
    font-size: 50px;
    margin-bottom: 25px;
}

.top {
    text-align: center;
    margin-top: 50px;
    height: 50vh;
    font-weight: 700;
}

.rock, .paper, .scissors {
    background-color: black;
    border-radius: 100%;
    font-size: 80px;
    padding: 20px;
    margin: 40px 80px;
}


.bottom {
    background-color: black;
    color: white;
    height: 50vh;
    text-align: center;
    padding-top: 60px;
}

.players {
    display: flex;
    justify-content: center;
    gap: 250px;
    font-weight: 600;
}

.player-icon, .computer-icon {
    font-size: 80px;
    margin-top: 30px;
}

.message {
    margin-top: 50px;
    font-family: 'Kavoon', serif;
}

.footer {
    background-color: black;
    text-align: center;
    color: #A4A4A4;
    font-size: 15px;
    padding-bottom: 20px;
}

/* Modal styling */
.modal {
    /* When user scrolls, this follows them */
    position: fixed; 
    /* centers top-left corner of modal in center of screen */
    top: 50%;
    left: 50%;
    /* center entire modal. Scale(0) hides the modal. */
    transform: translate(-50%, -50%) scale(0);
    /* A high number makes it be above everything else */
    z-index: 10;
    background-color: #FFD452;
    color: black;
    font-family: 'Kavoon', serif;
    font-size: 40px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal.active {
    /* Scale(1) to make it visible */
    transform: translate(-50%, -50%) scale(1);

}

.close-btn {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
}

.modal-emoticon {
    padding: 10px 0px 30px 0px;
}

.play-again-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 40px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    /* Apply overlay to the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Apply 50% opacity */
    background-color: rgba(0, 0, 0, .5);
    /* Allows user to click buttons when inactive */
    pointer-events: none; 
}

#overlay.active {
    opacity: 1;
    /* Prevent user from clicking buttons */
    pointer-events: all;
}
